/* Common style for all tiles */
.tile {
  background-color:#222532;
}

.tile:active {
  box-shadow: inset 0 2px 1px rgba(255,255,255,.1);
}

.pausedOverlay {
  background-color:#222532;
}

/* Style for revealed fields showing numbers */
.count {
  background-color:#484c70;
}

.1mines {
  background-color:shade(#bd93f9, 1);
}

.2mines {
  background-color:shade(#50fa7b, 1);
}

.3mines {
  background-color:shade(#f1fa8c, 0.85);
}

.4mines {
  background-color:shade(#ffb86c, 0.85);
}

.5mines {
  background-color:shade(#ff79c6, 0.95);
}

.6mines {
  background-color:shade(#8be9fd, 0.9);
}

.7mines {
  background-color:shade(#ff5555, 1);
}

.8mines {
  background-color:shade(#f8f8f2, 1);
}
